nav {
  width: 100%;
  font-size: 2rem;
  color: #fff;
  margin-bottom: 50px;
  background-color: rgb(75, 74, 74);
  height: auto;
  font-family: 'Bungee', cursive;
}

a {
  color: #fff;
}

a:hover {
  color: red;
  text-decoration: none;
}

nav li {
  display: inline-block;
  padding: 20px 0;
  width: 33%;
  /* text-align: center; */
}

ul {
  /* padding-left: 0px; */
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 750px) {
  #score {
    font-size: 1rem;
  }
}
